{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

{% endblock head%}

{% block content %}
    <br><br><br><br>
<div class="container">
<div class="row">
    <center><h2 style="background-color: #31b0d5; font-family:Castellar; font-weight: bolder; color: whitesmoke">Services we offer</h2></center>

</div>
</div>
    <div class="what-we-do container" style="">
<div class="row">
    <div class="what-we-do service col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-code" style="color: #4899EB"></i></center></div>
        <center>
        <h4>Software Development</h4>
                <p class="what-we-do p" >Software Development includes all that is involved between the conception of the desired
                    software through to the final manifestation of the software, ideally in a planned and
                    structured process. Therefore, software development may include research, new development,
                    prototyping, modification, reuse, re-engineering, maintenance, or any other activities that
                    result in software products.</p>
        </center>
        </div>


    <div class="what-we-do service span col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-stethoscope" style="color: #4899EB"></i></center></div>
        <center>
        <h4>Software Testing</h4>
                <p class="what-we-do p" >We provides best software test manual and automation solutions
                    which is cost effective as well as affordable also. We have rich experience in
                    software testing services , tools and consulting arena. We have vast experience on
                    latest open-sources tools which help to gain customer confidence and maximum return on
                    investment. We follow details of Testing Services Area,Services and Scope Of Work.</p>
        </center>
        </div>

    <div class="what-we-do service span col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-database" style="color: #4899EB"></i></center></div>
        <center>
        <h4>Data Analysis</h4>
                <p class="what-we-do p" >Data is everywhere,in unstructured or structured form.But
                    stand-alone datas makes no sense at all unless measured,managed or optimized.The data
                    has to lend itself to analysis using a clearly defined methodology, strategy and
                    business goals. Analytics is the scientific process of transforming data into insight
                    for making better decisions and predict the future market needs and we do it better.</p>

            </center>
        </div>

    <div class="what-we-do service span col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-globe" style="color: #4899EB"></i></center></div>
        <center>
        <h4>Web Development</h4>
                <p class="what-we-do p" >Our Web development team consists of hundreds of Web developers
                    at various positions such as a graphic designer and Web Developer.Web development has
                    also impacted personal networking and marketing.We develop Simple Websites for work or
                    for commerce,but provide users a platform to communicate ,organizations with a more
                    personal and interactive way.

                    </p>

            </center>
    </div>

    <div class="what-we-do service span col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-edit" style="color: #4899EB"></i></center></div>
        <center>
        <h4>Application Design and Development</h4>
                <p class="what-we-do p" >Our Web development team consists of hundreds of Web developers
                    at various positions such as a graphic designer and Web Developer.Web development has
                    also impacted personal networking and marketing.We develop Simple Websites for work or
                    for commerce,but provide users a platform to communicate ,organizations with a more
                    personal and interactive way.

                    </p>

            </center>
        </div>

    <div class="what-we-do service span col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-search-plus" style="color: #4899EB"></i></center></div>
        <center>
        <h4>SEO and Web Hosting</h4>
                <p class="what-we-do p" >With PCS make your business easy-to-find on Google, Yahoo!, Bing and more!
                        With PCS make your business easy-to-find on Google, Yahoo!, Bing and more!
                    Today, most people use the Internet when shopping for products and services.Make sure
                    those customers can easily find you. Use Search Engine Visibility to increase your
                    search rankings, and get guaranteed exposure FAST.

                    </p>

            </center>
        </div>

    <div class="what-we-do service span col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-cube" style="color: #4899EB"></i></center></div>
        <center>
        <h4>Enterprise Resource Planning</h4>
                <p class="what-we-do p" >Our softwares is neatly developed &amp; implemented that help
                    companies to sync processes in One,easy to use software.We have years of industry
                    expertise to design ERP software that best suit the needs of wide range of businesses.
                        Our ERP solutions offer industry specific functionality to operate effectively
                    &amp; efficiently.ERP solutions are designed to reduce costs and improve all processes.

                    </p>

            </center>
        </div>

    <div class="what-we-do service span col-lg-3" style="background-color: whitesmoke"  >
        <div class="icon-awesome" style="margin-top: 15px; font-size: 50px; line-height: 50px; color: #5d5d5d">
            <center><i class="fa fa-group" style="color: #4899EB"></i></center></div>
        <center>
        <h4>Education and Corporate Training</h4>
                <p class="what-we-do p" >
                    We provide Corporate Training to students who are pursuing
                    <b>B.Tech and BCA,MCA</b>
                    . We assist them in their projects and also involve them in our projects.We provide
                    corporate training also to those fresher who have their respective degree but don't
                    thave industry experience to work on software.We involve them in live projects to
                    update skills and give support to unplaced students to get job they dreamed of.


                    </p>

            </center>
        </div>


</div>
</div>

<br>

{% endblock content%}